<!DOCTYPE html>
<head>
<meta charset="utf-8">
<link href="/css/style.css" rel="stylesheet" type="text/css">
<title><%= h1 %></title>
</head>
<body class="container" style = "text-align:center">
  <h1><%= h1 %></h1>
  <form action="/sessions/new" method = "post">
    Pseudo :<br>
    <input type="text" name="pseudo" autofocus required>
    <br><br>
    Mot de passe :<br>
    <input type="password" name="password" required>
    <br><br>
    Confirmez votre mot de passe :<br>
    <input type="password" name="confirmPassword" required>
    <br><br>
    Email :<br>
    <input type="mail" name="email" required>
    <br><br>
    Prénom :<br>
    <input type="text" name="firstname">
    <br><br>
    Nom :<br>
    <input type="text" name="lastname">
    <br><br>
    <input type="reset" value="Reset">
    <input type="submit" value="Valider">
  </form>
  <form action="/sessions"><input type="submit" value="retour" /></form>

  <div id="easterEgg">
    <a href = "https://www.youtube.com/watch?v=RMICTAl4LCg&list=PLjrhosP-Fp_p19kteSIowkJOaRfgt6N81&index=24">O</a>
  </div>
</body>
</html>
