<!DOCTYPE html>
<head>
<meta charset="utf-8">
<link href="/css/style.css" rel="stylesheet" type="text/css">
<title>ERREUR</title>
</head>
<body id="error">
  <h1><%= status %></h1>
  <p>
    <%= message %>
  </p>
  <p style="font-size:70%;">
      <%= error %>
  </p>
  <form action="/"><input type="submit" value="Retour" /></form>

  <div id="easterEgg">
    <a href = "https://www.youtube.com/watch?v=RMICTAl4LCg&list=PLjrhosP-Fp_p19kteSIowkJOaRfgt6N81&index=24">O</a>
  </div>
</body>
</html>
