<!DOCTYPE html>
<html>
<head>
  <link href="/css/style.css" rel="stylesheet" type="text/css">
  <title>TP todolist</title>
</head>
<body  style = "text-align:center">
  <div style="width:100%;margin:0 auto;">
    <div id="colonneTeam">
      <h1>Tâches d'équipe</h1>
      Si user affecté à une team : affichage des todos, sinon affichage de login team
    </div>

    <div id="colonnePerso">
      <h1>Tâches personnelles</h1>
      affichage todos perso
    </div>
  </div>


</body>

</html>
