body {
  background-color: #304b5c;
  font: 1.2em Helvetica, "Lucida grande", Arial, sans-serif;
  color: #f7f7f7;
}

input {
  margin: 8px 0;
  box-sizing: border-box;
  font: inherit;
  background-color: rgba(255, 255, 255, 0);
  padding: 5px 7px;
  color: #f7f7f7;
}

input[type=text], input[type=password], input[type=email] {
  width: 30%;
  border: none;
  border-bottom: 2px solid #f7f7f7;
}

input[type=submit], input[type=reset] {
  color: #f7f7f7;
  border: 2px solid #f7f7f7;
}

input[type=submit]:hover, input[type=reset]:hover {
  background-color: #f7f7f7;
  color: #304b5c;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
  text-shadow: 2px 2px #000;
  margin: 0 0;
  border: none;
}

a:hover {
  text-shadow: 2px 2px #fff;
  color: rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
}

form:placeholder {
  color: white;
}

#colonneTeam {
  float: left;
  width: 50%;
}

#colonnePerso {
  float: right;
  width: 50%;
}

#error {
  background-color: #6b0000;
  color: #f7f7f7;
}

#easterEgg {
  position: fixed;
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0);
}
