@import "./settings";

body {
  background-color: $color-primary;
  font: $font-primary;
  color: $color-secondary;
}

input {
  margin: 8px 0;
  box-sizing: border-box;
  font: inherit;
  background-color: $transparent;
  padding: 5px 7px;
  color: $color-secondary;
}

input[type=text], input[type=password], input[type=email] {
  width: 30%;
  border: none;
  border-bottom: 2px solid $color-secondary;
}

input[type=submit], input[type=reset] {
  color: $color-secondary;
  border: 2px solid $color-secondary;
}

input[type=submit]:hover, input[type=reset]:hover {
  background-color: $color-secondary;
  color: $color-primary;
}

a {
  color: inherit;
  text-decoration: inherit;
  font-weight: bold;
  text-shadow: 2px 2px #000;
  margin: 0 0;
  border: none;
}

a:hover {
  text-shadow: 2px 2px #fff;
  color: $transparent;
  background-color: $transparent;
}

form:placeholder {
  color: white;
}
#contentTable {
  font: $font-secondary;
  text-align: center;
  width: 100%;
  padding: 5px;
}

#error {
  background-color: $color-error;
  color: $color-secondary;
}

#note {
  border: 2px solid $color-secondary;
  font-size: 14px;
  width: 80px;
  position: fixed;
  bottom : 0;
  left: 0;

}

#easterEgg {
  position: fixed;
  bottom: 0;
  right:0;
  color: $transparent;
}
