@import "./settings";
@import "./materialize";

body {
  background-color: #fffafb;
}

#table {
  overflow-x: scroll;
}

.header {
  color: #ee6e73;
  font-weight: 200;
}

#doit {
  font-weight: 600;
}

#easterEgg {
  position: fixed;
  bottom: 0;
  right:0;
  color: $transparent;
  display: none;
}
